
body {
  background: linear-gradient(#007d35 0%, #007d35 40%, #0f574e 100%);
  display: flex;
  align-items: flex-end;
}
@media (min-width:768px) {
  body {
    align-items: center;
    background-size: 400px, 100% 100%;
  }
}

#root {
  width: 100%;
}